language: rust
rust:
- stable
- beta
- nightly-2019-03-22
jobs:
  allow_failures:
  - rust: nightly-2019-03-22
  - rust: beta
  fast_finish: true
before_script:
  - rustup component add rustfmt
  - rustup component add clippy || cargo install --git https://github.com/rust-lang/rust-clippy/ --force clippy
script:
  - cargo build --verbose
  # --no-default-features to skip etcd integration tests
  - cargo test --no-default-features --verbose
  - cargo clippy --all-targets --all-features -- -D warnings
  - cargo fmt --all -- --check
